input {
    outline: none;
}
.input {
    display:block;
    width: 80%;
    padding: 5px 10px;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input[type="password"] {
    color:red;
}

.input-moderno {
    border: none;
    border-bottom: 1px solid #999999;
    padding: 5px;
    color:#5f5f5f;
}

.input-moderno::placeholder {
    color: #c2c2c2;
}

.input-moderno:focus {
    border-bottom: 1px solid #5f5f5f;
}

.input-background {
    color: white;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    
    box-shadow: 0 0 10px #ccc;
}

.inputbackground::placeholder {
    color: #ccc;
}

.input-search {
    padding: 10px;
    padding-left: 30px;
    /* border: none; */
    background-color: rgb(69, 64, 64);
    border-radius: 8px;
    margin: 10px;
    background-image: url(../img/search.png);
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 5px;
}

textarea {
    resize: none;
}

select {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
}